<div class="view">
<h3>Stylists</h3>
<div class = "lists">
#if ($stylists)
<ul>
    #foreach ($stylist in $stylists)
        <li><a href="/stylists/$stylist.getId()">$stylist.getLastName(), $stylist.getFirstName()</a></li>
    #end
</ul>
#else
<p>No stylists</p>
#end
</div>
<a href="/stylists/new">Add new stylist</a>
</div>