<h3>New stylist</h3>

<form action="/stylists/new" method="post">
    <label for="firstname">First Name</label>
    <input id="firstname" name="firstname" type="text">
    <label for="lastname">Last Name</label>
    <input id="lastname" name="lastname" type="text">
    <button type="submit" class="btn btn-default">Add</button>
</form>