<h3>Stylist</h3>
<h3>$stylist.getLastName(), $stylist.getFirstName()</h3>

<h3>Clients</h3>
<ul>
    #foreach($client in $clients)
        <li><a href="/clients/$client.getId()">$client.getLastName(), $client.getFirstName()</li>
    #end
</ul>

<h3>Appointments</h3>
<ul>
    #foreach($appointment in $appointments)
        <li><a href="/appointments/$appointment.getId()">$appointment.getDateAndTime()</li>
    #end
</ul>

<a href="/stylists">All stylists</a>
